body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.banner{
    height: 150px;
    background-color: yellow;
}
.menu{
    background-color: black;
    display: flex;
    padding: 10px;
}
.menu a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.menu a:hover{
    text-decoration: underline;
}
.main-content{
    display: flex;
    padding: 10px;
}
.left{
    width: 60%;
    background-color: white;
    padding: 20px;
}
.left h2{
    color: red;
}
.left img{
    width: 300px;
}
.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right-top{
    height: 150px;
    background-color: green;
    color: black;
    padding: 10px;
}
.right-bottom{
    display: flex;
    gap: 10px;
    background-color: green;
}
.right-left, .right-right{
    flex: 1;
    background-color: green;
    color: black;
    padding: 55px;
    height: 150px;
}